[user]
	name = LAMBERT Théo 
	email = t.lambert@sumit.fr
[init]
	defaultBranch = main
[alias]
	tree = log --all --decorate --oneline --graph --date=short --format='%C(auto)%h%Creset %C(blue bold)%cd%Creset | %C(blue)%ar%Creset %C(auto)%d%Creset%n%s'
	adog = log --all --decorate --oneline --graph --date=short --format='%C(auto)%h%Creset %C(blue bold)%cd%Creset | %C(blue)%ar%Creset %C(auto)%d%Creset  %s'
    cod = checkout develop
    dft = difftool
	wk = worktree
[core]
	autocrlf = false
[push]
    autoSetupRemote = true
[diff]
	tool = difftastic
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[maintenance]
	repo = /home/theo/projects/phenix-spa/lot2
