[user]
	name = Sonicfury
	email = theo.lambrt@gmail.com
[init]
	defaultBranch = main
[alias]
	tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	treee = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	adog = log --all --decorate --oneline --graph
    last = diff HEAD~1 HEAD
    cod = checkout develop
[core]
	autocrlf = input
